# Phase 1 Code Challenge Review 

TOPICS TO BE COVERED:
- Pandas Operations
- Data Visualization
- Statistics
- Python Data Structure

#### 1. Pandas Operations

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')

In [ ]:
# import data from seaborn's built in datasets
df = sns.load_dataset('iris')

In [ ]:
# read in the dataset auto-mpg

### your code
df2 = None

In [ ]:
# examine the first few elements of df2

### your code

In [ ]:
# examine the dimensions of df2

### your code

In [ ]:
# check to see if you have missing values for df2

### your code

In [ ]:
# introduce some missing values
df2.iloc[2,1:3] = np.nan

In [ ]:
# drop the missing values we just introduce to df2

### your code here

In [ ]:
# convert and modify columns

# create a new column, that is 10 times the sepal length, called sepal length 10

### your code here

#### 2. Data Visualization

In [ ]:
# for df1 iris dataset, show how many species there are, and how many flowers are in each species

### your code

In [ ]:
# use a barplot, visualize the average sepal length for each species of iris. make sure to give your graph a title
# and label the axes

### your code here

In [ ]:
# another visualization - create a bar chart using the following dummy data
persons = ['Annie', 'David', 'Lucy','Jin']
height = [60, 65, 67, 62]

In [ ]:
# create a scatterplot of sepal length and sepal width

Can you describe the relationship above?

#### 3. Statistics & Query

In [ ]:
# calculate the mean and median value for sepal length 

### your code here

In [ ]:
# what can you say about the values of sepal length and sepal width based on this distribution?

### your answer here

In [ ]:
# which flower has the shortest pedal? what is the species of that flower? 

### your answer and code here

#### 4. Python Data Structure 

In this section, we want to test your ability to write python code that manipulates complicated collections, such as a nested dictionary. You will need to produce code to answer the given questions.

In [2]:
# the following dictionary is a dataset of Unleashed Spa's regular clients. Use the dictionary to answer questions
# below

groomer_info = { 'pets':
    [{'Ginger': [{
        'age': 5,
        'type': 'Pitbull',
        'attribute': ['Playful','Cheery','Hyper']
    }],
    'Chloe': [{
        'age': 1,
        'type': 'Maine Coon',
        'attribute':['Alert','Independent','Playful']
    }],
    'Chunky': [{
        'age': 8,
        'type': 'Parrot',
        'attribute': ['Talkative','Independent','Cheery']
    }],
    'Guy Fieri': [{
        'age': 2,
        'type': 'Labrador',
        'attribute': ['Hyper','Playful','Energetic']
    }]}]
}

In [ ]:
# create a list of names containing all pets' names

### your code here

# desired output ['Ginger','Chloe','Chunky','Guy Fieri']

In [ ]:
# create a list of pets' age, and then create a list of tuples that contain the given pet's name and age

### your code here

# desired output [('Ginger,5'),('Chloe',1),('Chunky',8),('Guy Fieri',2)]

In [ ]:
# create a function that returns the names of pets who is older than x years old

# the function should take in the groomer_info diict and an integer indicating age you want to compare
# and return a list of names for pets that are older than the given age

### your code here

def pets_older_than(groomer_info, age):
    pass

In [ ]:
'''desired output: 
pets_older_than(groomer_info,4)
>>> ['Ginger','Chunky']
'''